<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teacherprofile</title>
</head>
<body>
    <table border="2" style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Phone_Number</th>
            <th>Department</th>
            <th>Experience</th>
            <th>Age</th>
            <th>username</th>

        </tr>
        <tr>
            <td>{{teach.Name}}</td>
            <td>{{teach.Phone_Number}}</td>
            <td>{{teach.Department}}</td>
            <td>{{teach.Experience}}</td>
            <td>{{teach.Age}}</td>
            <td>{{us.username}}</td>
            
        </tr>
        

    </table>
</body>
</html>